@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Matter Light';
  src: url('/matter-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
